#top {
  background-image: url('imgs/logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  padding-top: 10px;
  padding-bottom: 75px;
  width: 100%;
  max-width: 900px;
  margin-bottom: 20px;
}

.parallax {
  background-image: url("imgs/theatrebg.jpg");
  height: 1000px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

 h5 {
  margin: 20px;
  color: white;
  text-align: center;
  font-size: 25px;
 }

#quote {
  padding-top: 400px;
}

footer {
  text-align: center;
  color: white;
  margin: 30px;
}
