#top {
  background-image: url('../imgs/logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  padding-top: 10px;
  padding-bottom: 75px;
  width: 100%;
  max-width: 900px;
}

li{
  color: white;
  list-style-type: None;
}

.officers ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
