#top {
  background-image: url('../imgs/logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  padding-top: 10px;
  padding-bottom: 75px;
  width: 100%;
  max-width: 900px;
}

h1{
  color: slategrey;
  text-align: center;
  padding-top: 50px;
  margin-bottom: 50px;
  font-family: Georgia;
}


.footer-list {
  margin-top: 40px;
  color: slategrey;
  list-style-type: None;
  margin-left: 45px;
  margin-right:45px;
  font-family: Georgia;
  font-size: 22px;
}

.officers ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.link{
  padding-top: 100px;
  display: flex;
  justify-content: center;
}

footer {
  text-align: center;
  color: white;
  margin: 30px;
}
