#top {
  background-image: url('../imgs/logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  padding-top: 10px;
  padding-bottom: 75px;
  padding-left: 95px;
  width: 100%;
  max-width: 900px;
  margin-bottom: 20px;
}
footer {
  text-align: center;
  color: white;
  margin: 30px;
}


#linda {
  border-radius: 20px;
  width: 100%;
  height: auto;
  max-width: 400px;
  align-self: flex-end;
}

.director {
  padding: 10px;
  color: white;
}
